/*DESKTOP*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

html,
body {
    height: 100%;
    background-color: #1c1c1c;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}



h1,
h2,
h5 {
    background-color: #f0ad4e;
    height: 40px;
    text-align: center;
    text-decoration: underline;
}

h3,
h4 {
    color: #eee9e2;
    text-decoration: underline;
}

ul,
li {
    margin: 0;
    padding: 0;
    color: #eee9e2;
}
p {
    color: beige;
}

.link {
    padding-bottom: 15px;
    font-size: 22px;
    display: flex;
    justify-content: space-evenly;
}

/*NAVBAR*/
.navbar {
    background-color: #1a1a1a;
}

.navbar-nav .nav-link {
    color: #f5f5f5;
    font-weight: 500;
    transition: color 0.3 ease;
}

.navbar-nav .nav-link:hover {
    color: #00bfff;
}

.navbar-nav .nav-link.active {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin: 0 20px;
}


/*INICIO*/

/*Mapas*/
.maps{
    margin-bottom: 30px;
    padding: 0px;
}
.maps h3 {
    margin-bottom: 10px;
    color: #ffd700;
    text-align: center;
}
.mapaConte{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    align-items: center;
    border: 2px dashed #f0ad4e;
    border-radius: 12px;
    padding: 15px;
}

.mapaConte img{
    max-width: 100%;
    border-radius: 8px;
}


/*HABILIDADES*/

/*HABILIDADES SECUNDARIAS*/
.habilidadesContenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.habilidad {
    width: 262px;
    text-align: start;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
    background-color: #123;
}

.img {
    width: 80px;
    height: 70px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.descripcion {
    margin-top: 15px;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.lineasContenedor {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lineaCaja {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineaCaja::before {
    content: '';
    display: block;
    width: 50px;
    /* longitud de la l铆nea */
    height: 2px;
    /* grosor de la l铆nea */
    background: #1e3a8a;
    margin-bottom: 4px;
}

.lineaTitulo {
    font-size: 15px;
    font-weight: 600;
    color: #123;
    margin: 0 0 0 0;
}

.lineaTexto {
    font-size: 14px;
    color: #1a1a1a;
    max-width: 100px;
}

/*HABILIDADES BASE*/
.thab {
    background-color: #f0ad4e;
    width: 450px;
}

.table,
tr {
    text-align: center;
}


div.bhab {
    text-align: center;
}


/*RASGOS*/

/*Acorde贸n Positivo*/
.accordionPositivo .accordion-button {
    background-color: #1c1c1c;
    color: #006600;
    border: 1px solid #66cc66;

}

.accordionPositivo .accordion-button:not(.collapsed) {
    background-color: #006600;
    color: white;

}

.accordionPositivo .accordion-body {
    background-color: #1c1c1c;
    border-left: 3px solid #66cc66;
}

/*Acorde贸n Negativo*/
.accordionNegativo .accordion-button {
    background-color: #1c1c1c;
    color: #ff4d4d;
    border: 1px solid #ff6666;
}

.accordionNegativo .accordion-button:not(.collapsed) {
    background-color: #ff4d4d;
    color: white;
}

.accordionNegativo .accordion-body {
    background-color: #1c1c1c;
    border-left: 3px solid #ff4d4d;
}

/*ACORDIONES EN COLUMNA*/
.acordeones-contenedor {
    display: grid;
    grid-template-columns: 2fr;
    gap: 2rem;
    margin: 2rem;   
}

/*FOOTER*/
footer {
    background-color: #1c1c1c;
    color: #ddd;
    margin-top: 1px;
    text-align: center;
}

.footer-container {
    max-width: 900px;
    margin: auto;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #9acd32;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #c2ff4d;
}

.footer-quote {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 10px;
    color: #aaa;
}


















/*RESPONSIVE*/

/*MOBILE*/
@media (max-width:480px) {

    /*GENERAL*/
    main {
        background-color: #1c1c1c;
        font-family: 'Roboto', sans-serif;
        line-height: 1.6;
    }

    p {
        color: beige;
    }

    h1,
    h2,
    h5 {
        background-color: #f0ad4e;
        height: 40px;
        text-align: center;
        text-decoration: underline;
    }

    h3,
    h4 {
        margin: 0px;
        color: #eee9e2;
        text-decoration: underline;
    }

    li {
        color: #eee9e2;
    }

    .link {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
    }


    /*RESET*/

    /*  Reset b谩sico */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*  Fondo y texto general */
    html,
    body {
        height: 100%;
        background-color: #1c1c1c;
        /* fondo oscuro */
        color: #ddd;
        /* texto claro */
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
    }

    /*  Listas sin estilos raros */
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /*  Enlaces */
    a {
        color: #9acd32;
        text-decoration: none;
    }

    a:hover {
        color: #c2ff4d;
    }

    /*NAVBAR*/
    .navbar-expand-lg.navbar-light.bg-light {
        padding: 0px;
    }

    .container-fluid {
        background-color: #1c1c1c;
    }

    .navbar-collapse.collapse.show {
        text-align: center;
        background-color: #f0ad4e;
        border-radius: 100px;
        margin: 10px;
    }

    /*INICIO*/
    .maps {
        display: grid;
        grid-template-rows: 1fr 3fr;
        justify-items: center;
        border: 2px dashed #f0ad4e;
        padding-top: 8px;
        border-radius: 18px;
    }

    /*HABILIDADES SECUNDARIAS*/
    .descripcion {
        color: #eee9e2;
    }

    .habilidadesContenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
    }

    .imgdes {
        display: flex;
        gap: 12px;
        margin: 10px;
        align-items: center;
    }

    .habilidad {
        border: 2px dashed #f0ad4e;
        padding: 20px;
    }

    .lineasContenedor {
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }

    .lineaCaja::before {
        width: 60px;
    }

    .lineaTitulo,
    .lineaTexto {
        font-size: 20px;
        text-align: start;
    }

    .lineaTitulo {
        color: black;
        font-size: 20px;
        text-decoration: underline;
    }

    /*HABILIDADES BASE*/
    .thab {
        background-color: #f0ad4e;
        width: 100%;
    }

    .table,
    tr {
        text-align: center;
    }


    div.bhab {
        text-align: center;
    }

    /*RASGOS*/

    /*Acorde贸n Positivo*/
    .accordionPositivo .accordion-button {
        background-color: #1c1c1c;
        color: #006600;
        border: 1px solid #66cc66;

    }

    .accordionPositivo .accordion-button:not(.collapsed) {
        background-color: #006600;
        color: white;

    }

    .accordionPositivo .accordion-body {
        background-color: #1c1c1c;
        border-left: 3px solid #66cc66;
    }

    /*Acorde贸n Negativo*/
    .accordionNegativo .accordion-button {
        background-color: #1c1c1c;
        color: #ff4d4d;
        border: 1px solid #ff6666;
    }

    .accordionNegativo .accordion-button:not(.collapsed) {
        background-color: #ff4d4d;
        color: white;
    }

    .accordionNegativo .accordion-body {
        background-color: #1c1c1c;
        border-left: 3px solid #ff4d4d;
    }

    /*ACORDIONES EN COLUMNA*/
    .acordeones-contenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 2rem;
    }

    /*FOOTER*/
    footer {
        background-color: #1c1c1c;
        color: #ddd;
        margin-top: 0px;
        text-align: center;
    }

    .footer-container {
        max-width: 900px;
        margin: auto;
    }

    .footer-links {
        margin: 10px 0;
    }

    .footer-links a {
        color: #9acd32;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
        transition: color 0.3s;
    }

    .footer-links a:hover {
        color: #c2ff4d;
    }

    .footer-quote {
        font-style: italic;
        font-size: 0.9rem;
        margin-top: 10px;
        color: #aaa;
    }
}