@use 'variables' as*;
@use 'mixins' as *;

.maps {
  margin-bottom: 30px;
  padding: 0;

  h3 {
    margin-bottom: 10px;
    color: $highlight-color;
    text-align: center;
  }

  .mapaConte {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    align-items: center;
    border: $border-thickness dashed $highlight-color;
    @include border-radius(12px);
    padding: 15px;

    img {
      max-width: 100%;
      @include border-radius(8px);
    }
  }
}
